

body {

  background: url("https://www.tesla.com/sites/default/files/images/homepage/20180710/ms/homepage-models@2x.jpg?20181117");

  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.App {
  font-family: 'Montserrat', sans-serif;
}


.company-name {
  color: white;
  font-size: 18px;
  text-align: left;
  line-height: 18px;
  padding-top: 10px;
}

.company-name:hover {
  color: rgba(255, 255, 255, 0.5);
}


