 .signform {
    color: #4A4A4A;
    padding-top: 10px;
    background-color: #F9F7F7;
    border-radius: 20px;
  }

  .black_bottom {
    border-bottom: 1px solid black;
}
  
  .email {
    padding-top: 10px;
    margin-left: 35px;
  }
  
  .password {
    padding-top: 10px;
    margin-left: 3px;
  }

  .text-field {
      padding: 6px 10px;
      margin-left: 5px;
      border-radius: 10px;
      border-style: solid;
      border-color: #F0F0F0;
      block-size: 37px;
      border-width: 1px;
  }


  .text-field:hover {
      border-color: grey;
      border-width: 1px;
  }

  .text-field:focus,.text-field:active {
    outline: none !important;
    box-shadow: none;
 }

  .buttons {
      font-size: 15px;
      background-color:#466DDB;
      color: white;
      margin: 10px;
      border-radius: 20px;
      border-width: 2px;
      border-color:#F9F7F7;
      padding: 6px 98px;
  }

  .buttons:hover {
      border-color: gray;
      border-width: 2px;
  }

  .buttons:focus,.submission:active {
    outline: none !important;
    box-shadow: none;
 }